# =====================
# DEPENDENCIAS
# =====================
node_modules/
client/node_modules/
server/node_modules/

# =====================
# VARIABLES DE ENTORNO
# =====================
.env
client/.env
server/.env

# =====================
# BUILDS
# =====================
dist
build
client/dist
client/build
server/dist

# =====================
# LOGS
# =====================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =====================
# SISTEMA / EDITOR
# =====================
.DS_Store
.vscode/
.idea/
